.header {
  display: flex;
  align-content: center;
  align-items: center;
}
h1 {
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
